TLS-RFC Compliance

Hi,
we (@jurajsomorovsky @ic0ns @mmaehren @XoMEX @Kavakuo) are performing an analysis of the RFC-compliance of open-source TLS implementations. Below we list our findings for this implementation. We admit that some are rather nit-picky, but we added them for the sake of completeness. We tried to keep the descriptions brief and didn’t want to spam the issues section so feel free to split up the list into individual issues as you see fit.
If you disagree with our interpretation of certain RFC statements, please leave feedback as we’re interested in your view.

Our results apply to the default configuration of version ***4.3.0***. We used the example implementations for client and server.

[S] = Applies to server
[C] = Applies to client
[C+S] = Applies to both

## Misc
- [S] MatrixSSL sends a 'handshake failure' alert if a client offers more than 32 groups in the SupportedGroups extension

- [S] MatrixSSL negotiates TLS 1.3 when a client does not send a SupportedVersions extension but sets it legacy version to 0x0304.

- [S] MatrixSSL accepts resumption via session IDs even if the previous session has been terminated by a fatal alert
    - This only applies to some alert descriptions, such as 'decode error' or 'internal error'
    - RFC 5246 - 7.2.2 Error Alerts
        > Thus, any connection terminated with a fatal alert MUST NOT be resumed.

- [S] MatrixSSL server by default accepts secp192r1 and secp224r1 which have been deprecated by RFC 8422 and 8446.

- [S] MatrixSSL rejects records if their record-layer version is above 0x0304
    - RFC 7568 - 3.  Do Not Use SSL Version 3.0
        > TLS servers MUST accept any value {03,XX} (including {03,00}) as the record layer version number for ClientHello, but they MUST NOT negotiate SSLv3.

- [S] Upon receiving an empty KeyShare extension, MatrixSSL sends a 'handshake failure' instead of a HelloRetryRequest

- [S] For all AEAD cipher suites, MatrixSSL does not allow protected records with zero-length fragments and sends a 'decrypt error'.
    - Implementations MUST NOT send zero-length fragments of Handshake, Alert, or ChangeCipherSpec content types. Zero-length fragments of Application data MAY be sent as they are potentially useful as a traffic analysis countermeasure.
        > RFC 5246 - 6.2.1 Fragmentation

- [C] MatrixSSL parses TLS 1.2 handshakes messages even when an invalid handshake message lengthfield is used. This is either due to redundant lengthfields within the messages or hardcoded lengths based on negotiated parameters. MatrixSSL however uses the lengthfield to determine which bytes influence the digest. It is possible to send a ServerKeyExchange message with its length set to 0x000000 but with all key bytes. While only the type (0x0C) and the lengthfield influence the digest, MatrixSSL still parses all bytes of the message as if the lengtfield was set up correctly. 

- [C] In TLS 1.3 handshakes, MatrixSSL client won't terminate properly upon receiving a handshake message with a modified lengthfield.
    - Our tests reduce the lengthfield by one, leaving one byte of the message as an unprocessable trailing byte
    - This also lead to a significantly increased CPU usage

- [C] MatrixSSL accepts a ServerKeyExchange message that negotiates a group that has not been offered by MatrixSSL client
    - This only applies to the elliptic curves secp192r1 and secp224r1, which MatrixSSL does not offer by default

- [C] MatrixSSL seems to handle the message digest incorrectly when TLS_AES_256_GCM_SHA348 in a handshake with a HelloRetryRequest
    - The first encrypted message yields a 'bad record mac' alert. We assume that the synthetic digest required after a HelloRetryRequest uses SHA256 by default

- [C] MatrixSSL does not provide an empty Certificate message or the default certificate and aborts the handshake upon receiving a certificate request when X25519 has been negotiated

- [C+S] MatrixSSL does not seem to be able to process fragmented records
    - Tested with a record length of 50

## Session not aborted

- [S] upon receiving a ClientHello proposing TLS 1.3 but without sufficient shared algorithms or named groups. MatrixSSL sends a HRR requesting a named group which is not listed as supported by the client
    - RFC 8446 - 4.1.1.  Cryptographic Negotiation
        > If the server is unable to negotiate a supported set of parameters (i.e., there is no overlap between the client and server parameters), it MUST abort the handshake with either a "handshake_failure" or "insufficient_security" fatal alert (see Section 6).

- [S] upon receiving a Client Hello that proposes TLS 1.3 but either does not contain a SignatureAndHashAlgorithms extension or only offers legacy algorithms
    - MatrixSSL does send a fatal alert but does not close the socket. Any subsequent messages trigger an 'unexpected message' alert and close the socket.

- [S] upon receiving an unexpected record content type, such as 'application data' at the beginning of the handshake
    - RFC 8446 - 5. Record Protocol
        > If a TLS implementation receives an unexpected record type, it MUST terminate the connection with an "unexpected_message" alert.

- [C+S] upon receiving an encrypted or unencrypted legacy ChangeCipherSpec message after a completed TLS 1.3 handshake
    - RFC 8446 - 5. Record Protocol
        > If an implementation detects a change_cipher_spec record received before the first ClientHello message or after the peer's Finished message, it MUST be treated as an unexpected record type (though stateless servers may not be able to distinguish these cases from allowed cases).

- [C] upon receiving a second HelloRetryRequest
    - RFC 8446 - 4.1.4 Hello Retry Request
        > If a client receives a second HelloRetryRequest in the same connection (i.e., where the ClientHello was itself in response to a HelloRetryRequest), it MUST abort the handshake with an "unexpected_message" alert.

- [C+S] upon receiving a ChangeCipherSpec message with invalid content, as long as the content begins with 0x01
    - Specifically tested with 0x0101 and 0x0102, values like 0x07 get rejected correctly

- [C] upon receiving an EncryptedExtensions message that contains a Padding or GREASE extension
    - RFC 8446 - 4.3.1. Encrypted Extensions
        > The client MUST check EncryptedExtensions for the presence of any forbidden extensions and if any are found MUST abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving a ServerHello that negotiates unproposed extensions
    - Tested with encrypt-then-MAC, Heartbeat, and GREASE
    - RFC 5246 - 7.4.1.4. Hello Extensions
        > If a client receives an extension type in ServerHello that it did not request in the associated ClientHello, it MUST abort the handshake with an unsupported_extension fatal alert.

- [C] upon receiving a HelloRetryRequest that selects an unproposed cipher suite or legacy compression method
    - RFC 8446 - 4.1.4 Hello Retry Request
        > Upon receipt of a HelloRetryRequest, the client MUST check the legacy_version, legacy_session_id_echo, cipher_suite, and legacy_compression_method as specified in Section 4.1.3

- [C] upon a mismatch between the selected cipher suites in a HelloRetryRequest and ServerHello
    - RFC 8446 - 4.1.4 Hello Retry Request
        > Upon receiving the ServerHello, clients MUST check that the cipher suite supplied in the ServerHello is the same as that in the HelloRetryRequest and otherwise abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving a TLS 1.3 ServerHello that does not echo the client's session ID (though MatrixSSL uses an empty session ID)
    - RFC 8446 - 4.1.3 Server Hello
        > A client which receives a legacy_session_id_echo field that does not match what it sent in the ClientHello MUST abort the handshake with an "illegal_parameter" alert.

- [S] upon receiving a ClientHello proposing TLS 1.3 with a legacy version other than 0x0303
    - RFC 8446 - 4.1.2 Client Hello
        > In TLS 1.3, the client indicates its version preferences in the "supported_versions" extension (Section 4.2.1) and the legacy_version field MUST be set to 0x0303, which is the version number for TLS 1.2.

- [S] upon receiving two ClientHellos at the beginning of a handshake (MatrixSSL seems to ignore the second ClientHello)

- [S] upon receiving a SignatureAndHash algorithm extension with an uneven list length value, which should result in a parsing error, in a TLS 1.3 session
	-Note that our test modifies the lengthfield (-1) to enforce a parsing error
	We assume that MatrixSSL either always parses two bytes from the list until none are left or only parses until an acceptable algorithm has been found. Due to the reduced number of algorithms used in TLS 1.3, this behavior only appears in this version

- [S] upon receiving a Padding extension that contains bytes other than 0x00
    - Please leave a comment if your implementation does not support this extension and hence ignores the content
    - RFC 7685 - 3. Padding Extension
        > The client MUST fill the padding extension completely with zero bytes, although the padding extension_data field may be empty.

- [S] upon receiving a ClientHello that contains elliptic curve extensions but no ECC cipher suite
    - 8422 -  4. TLS Extensions for ECC
        > The client MUST NOT include these extensions in the ClientHello message if it does not propose any ECC cipher suites.

## Different alert sent than defined by the RFC

- [S] upon receiving a ClientHello with an EcPointFormats extension that only offers compressed or undefined point formats. MatrixSSL sends a 'handshake failure' alert
    - RFC 8422 - 5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.

- [C+S] upon receiving a record with an invalid AEAD tag/ciphertext in TLS 1.2. MatrixSSL sends a 'decrypt error'.
    - RFC 5246 - 6.2.3.3 AEAD Ciphers
        > If the decryption fails, a fatal bad_record_mac alert MUST be generated.
    - Note that TLS 1.3 uses the correct alert
- [C] upon detecting a record overflow. MatrixSSL sends an 'illegal parameter' alert
    - RFC 8446 - 5.1 Record Layer
        > An endpoint that receives a record that exceeds this length MUST terminate the connection with a "record_overflow" alert.

- [C] upon receiving an application data record at the beginning of the handshake. MatrixSSL sends a 'close notify' alert.
    - RFC 8446 - 5. Record Protocol
        > If a TLS implementation receives an unexpected  record type, it MUST terminate the connection with an "unexpected_message" alert. 

- [C] upon receiving a ServerHello with a SupportedVersions extension that negotiates a version below TLS 1.3. MatrixSSL sends an 'unexpected message' alert.
    - RFC 8446 - 4.2.1 Supported Versions
        > If the "supported_versions" extension in the ServerHello contains a version not offered by the client or contains a version prior to TLS 1.3, the client MUST abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving an empty Certificate message in TLS 1.3. MatrixSSL sends a 'certificate unknown' alert.
    - RFC 8446 - 4.4.2.4. Receiving a Certificate Message
        > If the server supplies an empty Certificate message, the client MUST abort the handshake with a "decode_error" alert.

Can you let us know why you are doing this research, and who is funding it, and what your nationalities are?

Please send over the analysis of the security threats that MatrixSSL may suffer from implementing changes in order to align with RFC's.

Are you affiliated with, or funded directly or indirectly by any country's defence, security, or intelligences agencies? (e.g. and without limitation, any of these: https://en.wikipedia.org/wiki/List_of_intelligence_agencies ) or do you have any interest in reducing the security of TLS products for yourself or on behalf of others?

Hi! Thank you for your interest in our work. We are from Germany (Ruhr-University Bochum & Paderborn University). We all work on the TLS-Attacker project (https://github.com/tls-attacker/TLS-Attacker). We are not affiliated to any intelligence agency or other military agency. 

> Please send over the analysis of the security threats that MatrixSSL may suffer from implementing changes in order to align with RFC's.
I am not sure what you are referring to. This is a list of RFC violations we discovered in MatrixSSL with our newly developed automated tool. We plan to release the tool and the related paper in the upcoming months. We do not think that there is a weakness in the RFC that will reduce the security of Matrixssl, but that conforming to the RFC will strengthen the implementation.  

Hey, based on the feedback we received from other developers, we split up the reports to separate cases where the RFC imposes restrictions on a sender but does not require the receiver to enforce these restrictions. You find these at the bottom of the comment. We didn't edit the initial report to avoid confusion.

## Misc
- [S] MatrixSSL sends a 'handshake failure' alert if a client offers more than 32 groups in the SupportedGroups extension

- [S] MatrixSSL negotiates TLS 1.3 when a client does not send a SupportedVersions extension but sets it legacy version to 0x0304.

- [S] MatrixSSL accepts resumption via session IDs even if the previous session has been terminated by a fatal alert
    - This only applies to some alert descriptions, such as 'decode error' or 'internal error'
    - RFC 5246 - 7.2.2 Error Alerts
        > Thus, any connection terminated with a fatal alert MUST NOT be resumed.

- [S] MatrixSSL server by default accepts secp192r1 and secp224r1 which have been deprecated by RFC 8422 and 8446.

- [S] MatrixSSL rejects records if their record-layer version is above 0x0304
    - RFC 7568 - 3.  Do Not Use SSL Version 3.0
        > TLS servers MUST accept any value {03,XX} (including {03,00}) as the record layer version number for ClientHello, but they MUST NOT negotiate SSLv3.

- [S] Upon receiving an empty KeyShare extension, MatrixSSL sends a 'handshake failure' instead of a HelloRetryRequest

- [S] For all AEAD cipher suites, MatrixSSL does not allow protected records with zero-length fragments and sends a 'decrypt error'.
    - Implementations MUST NOT send zero-length fragments of Handshake, Alert, or ChangeCipherSpec content types. Zero-length fragments of Application data MAY be sent as they are potentially useful as a traffic analysis countermeasure.
        > RFC 5246 - 6.2.1 Fragmentation

- [C] MatrixSSL parses TLS 1.2 handshakes messages even when an invalid handshake message lengthfield is used. This is either due to redundant lengthfields within the messages or hardcoded lengths based on negotiated parameters. MatrixSSL however uses the lengthfield to determine which bytes influence the digest. It is possible to send a ServerKeyExchange message with its length set to 0x000000 but with all key bytes. While only the type (0x0C) and the lengthfield influence the digest, MatrixSSL still parses all bytes of the message as if the lengtfield was set up correctly. 


- [C] MatrixSSL accepts a ServerKeyExchange message that negotiates a group that has not been offered by MatrixSSL client
    - This only applies to the elliptic curves secp192r1 and secp224r1, which MatrixSSL does not offer by default

- [C] MatrixSSL seems to handle the message digest incorrectly when TLS_AES_256_GCM_SHA348 in a handshake with a HelloRetryRequest
    - The first encrypted message yields a 'bad record mac' alert. We assume that the synthetic digest required after a HelloRetryRequest uses SHA256 by default

- [C] MatrixSSL does not provide an empty Certificate message or the default certificate and aborts the handshake upon receiving a certificate request when X25519 has been negotiated

- [C+S] MatrixSSL does not seem to be able to process fragmented records
    - Tested with a record length of 50

## Session not aborted

- [S] upon receiving a ClientHello proposing TLS 1.3 but without sufficient shared algorithms or named groups. MatrixSSL sends a HRR requesting a named group which is not listed as supported by the client
    - RFC 8446 - 4.1.1.  Cryptographic Negotiation
        > If the server is unable to negotiate a supported set of parameters (i.e., there is no overlap between the client and server parameters), it MUST abort the handshake with either a "handshake_failure" or "insufficient_security" fatal alert (see Section 6).

- [S] upon receiving a Client Hello that proposes TLS 1.3 but either does not contain a SignatureAndHashAlgorithms extension or only offers legacy algorithms
    - MatrixSSL does send a fatal alert but does not close the socket. Any subsequent messages trigger an 'unexpected message' alert and close the socket.

- [S] upon receiving an unexpected record content type, such as 'application data' at the beginning of the handshake
    - RFC 8446 - 5. Record Protocol
        > If a TLS implementation receives an unexpected record type, it MUST terminate the connection with an "unexpected_message" alert.

- [C+S] upon receiving an encrypted or unencrypted legacy ChangeCipherSpec message after a completed TLS 1.3 handshake
    - RFC 8446 - 5. Record Protocol
        > If an implementation detects a change_cipher_spec record received before the first ClientHello message or after the peer's Finished message, it MUST be treated as an unexpected record type (though stateless servers may not be able to distinguish these cases from allowed cases).

- [C] upon receiving a second HelloRetryRequest
    - RFC 8446 - 4.1.4 Hello Retry Request
        > If a client receives a second HelloRetryRequest in the same connection (i.e., where the ClientHello was itself in response to a HelloRetryRequest), it MUST abort the handshake with an "unexpected_message" alert.

- [C+S] upon receiving a ChangeCipherSpec message with invalid content, as long as the content begins with 0x01
    - Specifically tested with 0x0101 and 0x0102, values like 0x07 get rejected correctly

- [C] upon receiving an EncryptedExtensions message that contains a Padding or GREASE extension
    - RFC 8446 - 4.3.1. Encrypted Extensions
        > The client MUST check EncryptedExtensions for the presence of any forbidden extensions and if any are found MUST abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving a HelloRetryRequest that selects an unproposed cipher suite or legacy compression method
    - RFC 8446 - 4.1.4 Hello Retry Request
        > Upon receipt of a HelloRetryRequest, the client MUST check the legacy_version, legacy_session_id_echo, cipher_suite, and legacy_compression_method as specified in Section 4.1.3

- [C] upon a mismatch between the selected cipher suites in a HelloRetryRequest and ServerHello
    - RFC 8446 - 4.1.4 Hello Retry Request
        > Upon receiving the ServerHello, clients MUST check that the cipher suite supplied in the ServerHello is the same as that in the HelloRetryRequest and otherwise abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving a TLS 1.3 ServerHello that does not echo the client's session ID (though MatrixSSL uses an empty session ID)
    - RFC 8446 - 4.1.3 Server Hello
        > A client which receives a legacy_session_id_echo field that does not match what it sent in the ClientHello MUST abort the handshake with an "illegal_parameter" alert.

- [S] upon receiving two ClientHellos at the beginning of a handshake (MatrixSSL seems to ignore the second ClientHello)

- [S] upon receiving a SignatureAndHash algorithm extension with an uneven list length value, which should result in a parsing error, in a TLS 1.3 session
	-Note that our test modifies the lengthfield (-1) to enforce a parsing error
	We assume that MatrixSSL either always parses two bytes from the list until none are left or only parses until an acceptable algorithm has been found. Due to the reduced number of algorithms used in TLS 1.3, this behavior only appears in this version

## Different alert sent than defined by the RFC

- [S] upon receiving a ClientHello with an EcPointFormats extension that only offers compressed or undefined point formats. MatrixSSL sends a 'handshake failure' alert
    - RFC 8422 - 5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.

- [C+S] upon receiving a record with an invalid AEAD tag/ciphertext in TLS 1.2. MatrixSSL sends a 'decrypt error'.
    - RFC 5246 - 6.2.3.3 AEAD Ciphers
        > If the decryption fails, a fatal bad_record_mac alert MUST be generated.
    - Note that TLS 1.3 uses the correct alert
- [C] upon detecting a record overflow. MatrixSSL sends an 'illegal parameter' alert
    - RFC 8446 - 5.1 Record Layer
        > An endpoint that receives a record that exceeds this length MUST terminate the connection with a "record_overflow" alert.

- [C] upon receiving an application data record at the beginning of the handshake. MatrixSSL sends a 'close notify' alert.
    - RFC 8446 - 5. Record Protocol
        > If a TLS implementation receives an unexpected  record type, it MUST terminate the connection with an "unexpected_message" alert. 

- [C] upon receiving a ServerHello with a SupportedVersions extension that negotiates a version below TLS 1.3. MatrixSSL sends an 'unexpected message' alert.
    - RFC 8446 - 4.2.1 Supported Versions
        > If the "supported_versions" extension in the ServerHello contains a version not offered by the client or contains a version prior to TLS 1.3, the client MUST abort the handshake with an "illegal_parameter" alert.

- [C] upon receiving an empty Certificate message in TLS 1.3. MatrixSSL sends a 'certificate unknown' alert.
    - RFC 8446 - 4.4.2.4. Receiving a Certificate Message
        > If the server supplies an empty Certificate message, the client MUST abort the handshake with a "decode_error" alert.
		


## Unenforced sender restrictions
**In the following cases, the receiver is not explicitly required to terminate the connection upon detecting a misbehavior of the peer.**

- [C] upon receiving a ServerHello that negotiates unproposed extensions
    - Tested with encrypt-then-MAC, Heartbeat, and GREASE
    - RFC 5246 - 7.4.1.4. Hello Extensions
        > If a client receives an extension type in ServerHello that it did not request in the associated ClientHello, it MUST abort the handshake with an unsupported_extension fatal alert.

- [S] upon receiving a ClientHello proposing TLS 1.3 with a legacy version other than 0x0303
    - RFC 8446 - 4.1.2 Client Hello
        > In TLS 1.3, the client indicates its version preferences in the "supported_versions" extension (Section 4.2.1) and the legacy_version field MUST be set to 0x0303, which is the version number for TLS 1.2.

- [S] upon receiving a Padding extension that contains bytes other than 0x00
    - Please leave a comment if your implementation does not support this extension and hence ignores the content
    - RFC 7685 - 3. Padding Extension
        > The client MUST fill the padding extension completely with zero bytes, although the padding extension_data field may be empty.


Based on the feedback we received from @tomato42, we removed the reported issue where a client sends an elliptic curve extension but does not offer an elliptic curve cipher suite as terminating the connection may cause interoperability issues.
